# Project exclude paths
/cmake-build-debug/
/.idea/
/cmake-build-default/
/cmake-build-release/
/prueba_lua/prueba_lua
/prueba_sdl/prueba_sdl
CMakeFiles/
build/
*.a
CMakeCache.txt
*.cmake
.DS_Store
/model/car
