QMainWindow {
    background-color: black
}

*#centralwidget {
    width: 1px;
    height: 1px;
}

*#mainPage {
    background-image: url("backgrounds/test.jpg");
    background-position: center center;
}

*#createPage {
    background-image: url("backgrounds/test.jpg")
}

*#joinPage {
    background-image: url("backgrounds/test.jpg")
}

*#waitPage {
    background-image: url("backgrounds/test.jpg")
}

*#startPage {
    background-image: url("backgrounds/test.jpg")
}